# This workflow automatically publishes the package to NPM and GHCR when a new tag is created/pushed.
# Before, tagging a new release, make sure to update the version in package.json file.
# The NPM package is published using Trusted Publishers using OIDC (without a PAT) when a release is created
# and the deployment is approved by an admin.


name: Publish Release
on:
  push:
    tags:
      - 'v*'


jobs:
  create-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Required to create a release
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Create GitHub Release with changelog
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TAG_NAME=${GITHUB_REF#refs/tags/}
          gh release create "$TAG_NAME" --generate-notes --title "$TAG_NAME" --verify-tag || echo "Release may already exist."

  publish-npm:
    runs-on: ubuntu-latest
    needs: create-release

    environment:
      name: npm
      url: https://www.npmjs.com/package/tldr

    permissions:
      contents: read
      id-token: write # Required for OIDC in NPM Trusted Publishing

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Update npm 
        run: npm install -g npm@latest

      - run: npm ci
      - run: npm publish
